* {
    box-sizing: border-box;
}

.container {
    background-color: rgb(92, 88, 88);
    height: 100vh;
}

.box {
    background-color: white;
    border: solid 2px;
    padding: 25px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;

    min-height: 50%;
}